h1{
    color: white;
    text-align: center;
    border-radius: 10px;
    width: 430px;
    margin: auto;
    height: auto;
    padding: 10px;


}
h2{
    color: white;
    text-align: center;
    border-radius: 10px;
    width: 430px;
    margin: auto;
    height: auto;
    padding: 10px;
    margin-top: 20px;


}
body{
    background-color: rgb(16, 6, 93);
}
input{
    display: block;
    margin: auto;
    margin-top: 80px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 300px;
    font-size: 16px;
}
select{
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 320px;
    font-size: 16px;
}
button{
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 150px;
    font-size: 16px;
    background-color: rgb(0, 110, 255);
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: rgb(0, 80, 200);
}
select:hover{
    background-color: rgb(165, 165, 165);
}
input:hover{
    background-color: rgb(165, 165, 165);
}